*{
	font-family: 'Inter', sans-serif;
}

a{

}

input{
	outline: none;
}

/*---------------------------
			TOP-NAVBAR
----------------------------*/
.top-bar{
	margin: 0px 0px;
	justify-content: space-between;
	display: flex;
	height: 40px;
	align-items: center;
}

.location img{
	padding-bottom: 5px;
	padding-right: 13px;
}

.location a{
	color: #030C24;
	font-size: 14px;
	font-weight: 500;
}

.location a:hover{
	color: #030C24;
	text-decoration: none;
}

.dropdown img{
	padding-left: 10px;
}

.dropdown-menu.show{
	padding: 0px;
}

a.dropdown-item{
	padding: 5px;
}

a.dropdown-toggle:after{
	border: none;
}

ul.info-nav-item{
	padding: 0;
	margin: 0;
}

ul.info-nav-item li a{
	font-size: 14px;
	font-weight: 500;
	color: #030C24;
}

ul.info-nav-item li a:hover{
	text-decoration: none;
}

ul.info-nav-item li{
	padding: 0px 20px;
	display: inline;
}

ul.info-nav-item li:last-child{
	padding-right: 0px;
	border-left: 1px solid #030C24;
}

/*---------------------------
			NAVBAR
----------------------------*/

nav{
	margin: 20px 0px;
}

.search{

}

button.catalog-btn{
	font-weight: 400;
	font-size: 16px;
	padding: 8px 16px;
	border-radius: 8px;
	border: none;
	background-color: #FFCC00;
}


