*{
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

li{
	list-style: none;	
}	

ul{
	padding: 0;
}

input{
	outline: none;
}

header{
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

/*---------------------------
			TOP-NAVBAR
----------------------------*/
.top-bar{
	margin: 0px 0px;
	justify-content: space-between;
	display: flex;
	height: 40px;
	align-items: center;
}

.location img{
	padding-bottom: 5px;
	padding-right: 13px;
}

.location a{
	color: #030C24;
	font-size: 14px;
	font-weight: 500;
}

.location a:hover{
	color: #030C24;
	text-decoration: none;
}

.dropdown img{
	padding-left: 10px;
}

.dropdown-menu.show{
	padding: 0px;
}

a.dropdown-item{
	padding: 5px;
}

a.dropdown-toggle:after{
	border: none;
}

ul.info-nav-item{
	padding: 0;
	margin: 0;
}

ul.info-nav-item li a{
	font-size: 14px;
	font-weight: 500;
	color: #030C24;
}

ul.info-nav-item li a:hover{
	text-decoration: none;
}

ul.info-nav-item li{
	padding: 0px 20px;
	display: inline;
}

ul.info-nav-item li:last-child{
	padding-right: 0px;
	border-left: 1px solid #030C24;
}

/*---------------------------
			NAVBAR
----------------------------*/

.header_panel{
	padding: 20px 0px;
	display: flex;
	justify-content: space-between;
}

/* Catalog button */

button.catalog-btn{
	font-weight: 400;
	font-size: 16px;
	padding: 8px 16px;
	margin-right: 20px;
	border-radius: 8px;
	border: none;
	background-color: #FFCC00;
	width: auto;
	height: 48px;
	align-items: center;
}

.catalog-btn img{
	padding-right: 11px;
}

.catalog-btn span{
	font-size: 16px;
	font-weight: 400;
}

/* Search panel */

.search-content{
	display: flex;
	justify-content: space-between;
}

.categorie-dropdown{
	width: auto;
	height: 40px;
}

.dropdown-menu.show{
	position: static;
}

button.dropdown-toggle{
	font-size: 14px;
	font-weight: 500;
	padding: 0px 10px;
	margin: 2px 0px 2px 2px;
	background: #E8E8E8;
	border: none;
	border-radius: 4px;
	width: auto;
	height: 40px;
}

.search-content form{
	display: flex;
	width: auto;
	height: 48px;
	border: 2px solid #FFCC00;
	border-radius: 8px;
}

.search-content input{
	margin: 2px 0px 0px 24px;
	height: 40px;
	width: auto;
	border: none;
}

button.search-btn{
	font-size: 14px;
	font-weight: 500;
	padding: 0px 16px;
	width: auto;
	height: 45px;
	border: none;
	background: #FFCC00;
	border-radius: 0px 5px 5px 0px;
}

.search-btn img{
	padding-right: 11px;
}

/* Search Info */

ul.search-nav-item{
	display: flex;
	padding: 0;
	margin: 0;
}

.search-nav-item li{
	padding-right: 19px;
	font-size: 14px;
	font-weight: 400;
	list-style: none;
}

.search-nav-item li:last-child{
	padding-right: 0px;
}

.search-nav-item li a{
	display: block;
	text-align: center;
	color: #666666;
}

.search-nav-item li a:hover{
	text-decoration: none;
}

.search-nav-item svg{
	margin-bottom: 3px;
}

.content{
	min-height:100%;
}

/*-------------
	BREADCRUMB
----------------*/

.breadcrumbs{
	display: flex;
	background: transparent;
	margin: 48px 0px 56px 0px;
	padding: 0;
}

.breadcrumb-item a{
	font-size: 16px;
	font-weight: 500;
	color: #4F4F4F;
	font-style: normal;
}

.breadcrumb-item a:hover{
	text-decoration: none;
	color: #4F4F4F;
}

/*---------------------
	PRODUCT-SLIDER
---------------------*/

.product-title h1{
	font-weight: 700;
	font-size: 24px;
	padding-bottom: 12px;
}

.product-subtitle{
	margin-bottom: 81px;
}

.product-subtitle ul{
	display: flex;
}

.product-subtitle li{
	padding-right: 26px;
}

.product-subtitle span{
	color: #8E8E8E;
}

.product-subtitle a{
	color: #8E8E8E;
}

.product-subtitle a:hover{
	color: #8E8E8E;
	text-decoration: none;
}

/* Основные стили */

/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list{
	overflow: hidden;
}
/* Лента слайдов */
.slider-nav .slick-track{
	display: block;
	align-items: center;
	width: 80px !important;
}

/* Конкретный слайдер */
.slider{
	display: flex;
}

.slider-nav{
	display: block;
}

.item-slick img:hover {
	border: 2px solid #FFCC00;
	border-radius: 5px;
}

.slick-current img {
	border: 2px solid #FFCC00;
	border-radius: 5px;
}

.item-slick img {
	width: 70px;
	height: 70px;
	object-fit: contain;
	padding: 5px;
	margin-bottom: 10px;
	cursor: pointer;
}

.slider-for{
	width: 300px;
}

.slider-for img{
	object-fit: contain;
	width: 400px;
	height: 400px;
	padding: 20px;
	margin-left: 10px;
}


/*---------------------
	PRODUCT-INFO
---------------------*/

/* first-product-character */

.first-product-character h2{
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 20px;
}

.first-product-character ul{
	margin-bottom: 30px;
	overflow: hidden;
}

.first-product-character li{
	float: left;
	display: flex;
	margin-bottom: 10px;
}

.first-product-character a{
	margin-right: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #4F4F4F;
	font-weight: 400;
	font-size: 14px;
	padding: 10px 15px;
}

.first-product-character a:hover{
	color: #4F4F4F;
	text-decoration: none;
	border: 1.9px solid #FFCC00;
}

.first-product-character .nav-link.active{
	border: 2px solid #FFCC00;
}

/* second-product-character */

.second-product-character{
	margin-bottom: 30px;
	overflow: hidden;
}

.second-product-character li{
	float: left;
	padding-right: 20px;
	padding-bottom: 20px;
}

.second-product-character h2{
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 20px;
}

.second-product-character img{
	width: 60px;
	height: 60px;
	object-fit: contain;
	padding: 5px;
}

.second-product-character img:hover{
	border: 2px solid #FFCC00;
	border-radius: 5px;
}

/* third-product-character */

.third-product-character h2{
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 20px;
}

.brief-characteristics-total{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.brief-characteristics-total{
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 16px;
}

.brief-characteristics-name{
	color: #4F4F4F;
}

.brief-characteristics-points{
	height: 1px;
	margin: 0 8px;
	background: linear-gradient(90deg,#dcdcdc 33%,transparent 0) repeat-x bottom;
	background-size: 3px 1px;
	flex-grow: 1;
}

.brief-characteristics-value{
	color: #333;
}

.brief-characteristics a{
	font-weight: 400;
	font-size: 12px;
	text-decoration: none;
}

.brief-characteristics-brand{
	margin-top: 35px;
}

.brief-characteristics-brand img{
	width: 35px;
	margin-right: 18px;
	object-fit: contain;
}

/* Product Card */

.card{
	width: auto;
}

.card-body{
	padding-left: 15px;
}

.card-subtitle{
	display: flex;
	justify-content: space-between;
}

.card-subtitle span:first-child{
	font-weight: 500;
	font-size: 16px;
	color: #B1B1B1;
	text-decoration: line-through;
}

.card-subtitle span:last-child{
	font-weight: normal;
	font-size: 16px;
	color: #D43E5D;
}

.card-title h1{
	margin-top: 4px;
	font-size: 24px;
	font-weight: bold;
	color: #2E2E2E;
}

.card-text p{
	margin-bottom: 12px;
	font-weight: 400;
	font-size: 14px;
}

.card-installment span{
	font-weight: 400;
	font-size: 12px;
}

.installment-money{
	padding: 2px 8px;
	color: #2B2B2B;
	background-color: #FFCC00;
	border-radius: 12px;
}

/*---------------------
		FOOTER
---------------------*/


.footer{
	background-color: #F4F4F4;
	padding: 60px 0px 40px 0px;
	width: 100%;
}

.footer .row .col-sm-3 ul li span{
	font-size: 16px;
	font-weight: 500;
}

.footer .row .col-sm-3 ul li a{
	color: #666666;
}

.footer .row .col-sm-3 ul li a:hover{
	text-decoration: none;
}

.tel span{
	font-weight: 500;
}

.footer-social a{
	padding-right: 20px;
}

.footer-social a:hover{
	text-decoration: none;
}

/* Copyright */

.copyright{
	padding: 20px 0px;
}

.copyright span{
	font-weight: 500;
	color: #999999;
}	